@import "./base/fonts";
@import "./base/reset";

@import "./components/slick";
@import "./layout/general";
@import "./layout/modal-window";
@import "./layout/header";
@import "./layout/slider";
@import "./layout/fotm-login-sign-up";
@import "./layout/validation";
@import "./layout/feed";
@import "./layout/notifications";
@import "./layout/user-view";
@import "./layout/dashboard";
@import "./layout/settings";
@import "./layout/personal-details";
@import "./layout/buy-xim";

@import "./layout/location-page";
@import "./layout/meetup";
@import "./layout/wizard";

@import "./layout/footer";
@import "./layout/media";
