@mixin transition($property) {
	transition: $property;
	-webkit-transition: $property;
	-moz-transition: $property;
	-ms-transition: $property;
	-o-transition: $property;
}

@mixin transition-delay($default-delay) {
	-webkit-transition-delay: $default-delay;
	-moz-transition-delay: $default-delay;
	transition-delay: $default-delay;
}

@mixin radius($border-radius) {
	border-radius: $border-radius;
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	-ms-border-radius: $border-radius;
	-o-border-radius: $border-radius;
}

@mixin rotate($rotate) {
	transform: rotate($rotate);
	-webkit-transform: rotate($rotate);
	-moz-transform: rotate($rotate);
	-ms-transform: rotate($rotate);
	-o-transform: rotate($rotate);
}

@mixin transform($transform) {
	transform: $transform;
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
}

@mixin circle-img($width, $height) {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $width;
	height: $height;
	@include radius(50%);
	overflow: hidden;
}
