/* reset */
$base-bg: #fff;
$base-fs: 15px;
$base-line-height: 20px;
$base-font-family: "Montserrat", sans-serif;
$default-transition: all 0.2s linear;

/* main variables */

//text, titles
$text-color: #000;
$title-color: #000;
$text-gray: #9e9e9e;

$font-size-h1: 34px;
$line-height-h1: 41px;

$font-size-h2: 22px;
$line-height-h2: 28px;

$font-size-h3: 20px;
$line-height-h3: 24px;

// colors
$white: #fff;
$color-active-dots: #1d1d1d;
$color-dots: rgba(0, 0, 0, 0.4);
$border-color: #979797;
$border-color-light: #d5d5e0;
$border-light-gray: #dadae4;
$color-link: #7e20c8;
$violet: #7e20c8;
$violet-light: #9e58d6;
$bg-light-gray: #f5f5f5;
$gray: #979797;
$black: #000;
$pink: #ff63a5;
