.hide{
    display: none;
}
[data-validation-send-file-hidden]{
    display: none;
}
.style-input-text.user__name{
    font-weight: 500 !important;
    font-size: 17px !important;
    line-height: 22px !important;
    height: 22px !important;
    margin-bottom: 2px !important;
    text-align: center;
    padding: 0;
    -webkit-appearance: none;
    border-radius: 0;
}
#customValidateSuccess,
customValidateError,
customValidateConfirm{
    z-index: 200 !important;
}
.settings_edit_submit {
    position: relative;
}
.settings_edit_submit .btn-save{
    position: relative;
    bottom: initial;
    margin-bottom: 40px;
    margin-top: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
    z-index: 100;
}
#edit_profile_upload_attach_form .selected_files_title {
    position: relative;
}
#edit_profile_upload_attach_form [data-remove-selected-files] {
    position: absolute;
    top: 0px;
    right: -5px;
    z-index: 5;
    transform: rotate(180deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    cursor: pointer;
}
.notifications__card {
    position: relative;
}
.notifications__card .full-link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.header__icon-right .header__icon-right {
    display: flex;
    position: relative;
    right: initial;
    bottom: initial;
}
#customShare h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 27px;
}
#customShare .targets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#customShare .targets a.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    width: 48%;
    flex-direction: row;
    margin-bottom: 15px;
}
#customShare .targets svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
#customShare .link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #979797;
}
.pen-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.validation__picture {
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.validation__picture > img{
    border: 5px solid #dadae4;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.validation__picture > img.vert_image{
    width: auto;
    height: 100%;
}
.validation__group-btn .btn.disabled {
    opacity: 0.2 !important;
    color: #fff !important;
    background-color: #7e20c8 !important;
}
.user .job-title > span{
    margin: 0 auto;
}
.user .btn-save {
    position: relative;
    bottom: 0;
}
.height-auto {
    height: auto;
}
.user__card_text textarea {
    box-sizing: border-box;
    resize: none;
}
.cards-jobs__detail {
    width: calc(100% - 70px);
}
.cards-jobs__desc {
    margin-top: 6px;
}
.user__name.not_verified {
    margin-top: -16px;
}
.sign-up .form__btn,
.login .form__btn {
    position: static;
    left: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    margin-top: 50px !important;
    margin-bottom: 20px;
}
.title.no-records {
    font-size: 18px;
}
.personal-details__list > li .style-input-text.address-text{
    height: 25px;
    line-height: 24px;
}
#customValidateSuccess .custom-message,
#customValidateError .custom-message,
#customValidateConfirm .custom-message {
    margin-bottom: 24px;
}
.personal-details__list + .settings_edit_submit{
    padding: 0 26px;
}
/*settings checkout start*/
.checkout-page .settings__checkout__list{
    margin-top: 0;
    margin-bottom: 20px;
}
.checkout-page .settings__checkout__list li:last-child {
    border-bottom: 0;
}
.checkout-page .settings__checkout__list .xims_total_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.checkout-page .settings__checkout__list .expiry_date .style-input-text {
    width: 30px;
    display: inline;
    text-align: center;
    padding: 0;
    -webkit-appearance: none;
    border-radius: 0;
}
.checkout-page .settings__checkout__list .expiry_date .style-input-text.exp_year {
    width: 25px;
}
.checkout-page .settings__checkout__list > li span {
    display: block;
    color: #9e9e9e;
    margin-bottom: 10px;
}
.checkout-page input::-webkit-input-placeholder {
    color: #000;
    letter-spacing: -0.41px;
}
.checkout-page input:-ms-input-placeholder {
    color: #000;
    letter-spacing: -0.41px;
}
.checkout-page input::placeholder {
    color: #000;
    letter-spacing: -0.41px;
}
.checkout-page .btn-buy {
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/*settings checkout end*/

/*settings buy xims start*/
.buy-xims-block {
    width: 325px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
.buy-xims-block .buy-xim__block {
    width: 150px;
    height: 180px;
    margin: 0;
    margin-bottom: 24px;
    padding: 13px 10px 0;
}
.buy-xims-block .btn-pink {
    width: 150px;
    padding: 10px 5px 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    bottom: -2px;
}
.buy-xims-block .btn-pink .save{
    display: block;
    font-size: 20px;
}
.buy-xims-block  .btn-white {
    width: 110px;
    margin: 13px 0;
}
.buy-xims-block .btn-initial{
    background: initial;
}
.buy-xims-block .full-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/*settings buy xims end*/

/*spinner start*/
.spinner,
.spinner:before,
.spinner:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.spinner {
    color: #ffffff;
    text-indent: -9999em;
    margin: 0px auto;
    position: relative;
    font-size: 5px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}
.spinner:before,
.spinner:after {
    position: absolute;
    top: 0;
    content: '';
}
.spinner:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
/*spinner end*/

.sign-up .form__btn a,
.login .form__btn a,
.password .form__btn a{
    color: #000;
}
/*.edit-profile .steps {
    display: none;
}
.edit-profile .steps.step-1 {
    display: block;
}*/
.edit-profile.nobg {
    background: none;
    padding-top: 25px;
}


/*meetup start*/
.meetup .meetup__list li {
    cursor: pointer;
}
.meetup .meetup__list .invite {
    display: none;
}
.meetup .meetup__list .active-reason .invite {
    display: block;
}
/*meetup end*/

.user__card_group-btn .btn {
    padding: 0 15px;
}

#upload .spinner,
#upload2 .spinner {
    color: #7e20c8;
}
#upload .spinner,
#upload .spinner:before,
#upload .spinner:after,
#upload2 .spinner,
#upload2 .spinner:before,
#upload2 .spinner:after {
    background: #7e20c8;
}

.btn-meetup-connected:hover {
    color: #fff;
    background-color: #7e20c8;
}
.cards-professionals__info a {
    word-break: break-all;
}
.personal-details__list > li .style-input-text {
    width: 92%;
    padding: 0;
    outline: 0;
}
.cards-professionals__info span:nth-child(1) {
    margin-right: 5px;
}
.cards-professionals__info span:nth-child(2) {
    text-align: right;
}
.header__icon-right .bell-exclamation {
    width: 15px;
    top: 0px;
    left: -3.5px;
}
.cards-professionals.fake-professionals-cards {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
}
.cards-professionals.fake-professionals-cards .fake-professionals-cards__link {
    margin: 0 auto;
}
.cards-professionals__info span {
    word-break: break-word;
}
