.hide{
    display: none;
}
[data-validation-send-file-hidden]{
    display: none;
}
.style-input-text.user__name{
    font-weight: 500 !important;
    font-size: 17px !important;
    line-height: 22px !important;
    margin-bottom: 2px !important;
    text-align: center;
}
#customValidateSuccess,
customValidateError,
customValidateConfirm{
    z-index: 200 !important;
}
.settings_edit_submit {
    position: relative;
}
.settings_edit_submit .btn-save{
    position: relative;
    bottom: initial;
    margin-bottom: 40px;
    margin-top: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
    z-index: 100;
}
#edit_profile_upload_attach_form .selected_files_title {
    position: relative;
}
#edit_profile_upload_attach_form [data-remove-selected-files] {
    position: absolute;
    top: 0px;
    right: -5px;
    z-index: 5;
    transform: rotate(180deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    cursor: pointer;
}

/*settings checkout start*/
.checkout-page .settings__checkout__list{
    margin-top: 0;
}
.checkout-page .settings__checkout__list li:last-child {
    border-bottom: 0;
}
.checkout-page .settings__checkout__list .xims_total_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.checkout-page .settings__checkout__list .expiry_date .style-input-text {
    width: 30px;
    display: inline;
    text-align: center;
}
.checkout-page .settings__checkout__list .expiry_date .style-input-text.exp_year {
    width: 25px;
}
.checkout-page .settings__checkout__list > li span {
    display: block;
    color: #9e9e9e;
    margin-bottom: 10px;
}
.checkout-page input::-webkit-input-placeholder {
    color: #000;
    letter-spacing: -0.41px;
}
.checkout-page input:-ms-input-placeholder {
    color: #000;
    letter-spacing: -0.41px;
}
.checkout-page input::placeholder {
    color: #000;
    letter-spacing: -0.41px;
}
.checkout-page .btn-buy {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/*settings checkout end*/
