.hide{
    display: none;
}
[data-validation-send-file-hidden]{
    display: none;
}
.style-input-text.user__name{
    font-weight: 500 !important;
    font-size: 17px !important;
    line-height: 22px !important;
    margin-bottom: 2px !important;
    text-align: center;
}
#customValidateSuccess,
customValidateError,
customValidateConfirm{
    z-index: 200 !important;
}

.settings_edit_submit {
    position: relative;
}
.settings_edit_submit .btn-save{
    position: relative;
    bottom: initial;
    margin-bottom: 40px;
    margin-top: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
    z-index: 100;
}