.buy-xim {
	padding: 48px 24px 0;
	&__group-icon {
		margin-bottom: 18px;
		> img {
			margin: 0 38px;
		}
	}
	.mb-7 {
		margin-bottom: 7px;
	}
	> p {
		margin-bottom: 40px;
		line-height: $base-line-height + 1px;
		letter-spacing: -0.41px;
	}
	&__block {
		width: 246px;
		height: 142px;
		margin: 0 auto 41px;
		position: relative;
		padding: 10px 32px;
		color: $white;
		font-size: $base-fs + 5px;
		background-color: $violet-light;
		border: 2px solid $violet;
		@include radius(25px);
	}
	.btn-pink {
		width: 246px;
		height: 50px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		@include radius(25px);
		position: absolute;
		bottom: -12px;
		left: -2px;
	}

	.btn-white {
		margin: 16px 0;
		width: 100%;
	}
}

@media only screen and (max-width: 370px) {
	.buy-xim {
		padding: 30px 14px 0;
	}
}
