// header section
.header {
	position: relative;
	width: 100%;
	height: 64px;
	background-color: $violet;
	color: $white;
	font-size: $base-fs + 2px;
	line-height: $base-line-height + 2px;
	letter-spacing: -0.41px;
	text-align: center;
	padding: 34px 0 10px;
	&__icon-right {
		display: flex;
		align-items: center;
		position: absolute;
		bottom: 10px;
		right: 10px;
		> img {
			margin-left: 10px;
			width: 15px;
		}
		> a {
			display: flex;
		}
		.bell-exclamation {
			position: absolute;
			width: 11px;
			top: 1px;
			left: -1.5px;
		}
	}
	&__icon-left {
		display: flex;
		align-items: center;
		position: absolute;
		bottom: 10px;
		left: 10px;
		> img {
			width: 18px;
		}
	}
}
