.notifications {
    margin-top: 20px;
    &__card {
        padding: 14px 16px;
    }
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .avatar {
            flex: 0 0 30px;
            @include circle-img(30px, 30px);
            margin-right: 10px;
        }
        &.mb-3 {
            margin-bottom: 3px;
        }
    }
    &__date {
        font-size: $base-fs - 3px;
    }
}
