.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &__item {
        position: relative;
        height: 100vh;
        width: 100%;
        background-position: bottom center;
        background-size: contain;
        background-repeat: no-repeat;
        &_first {
            background-image: url(../img/slider/image-slider-1.jpg);
        }
        &_second {
            background-image: url(../img/slider/image-slider-2.jpg);
        }
        &_third {
            background-image: url(../img/slider/image-slider-3.jpg);
        }
        &_fourth {
            background-image: url(../img/slider/image-slider-4.jpg);
        }
    }
    &__content {
        width: 100%;
        padding: 53px 28px;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    &__title {
        margin-bottom: 20px;
    }
    .slick-dots {
        position: absolute;
        bottom: 70px;
        left: 50%;
        @include transform(translateX(-50%));
        display: flex;
        z-index: 10;
        > li {
            width: 8px;
            height: 8px;
            background-color: $color-dots;
            margin: 0 4px;
            @include radius(50%);
            > button {
                display: none;
            }
            &.slick-active {
                background-color: $color-active-dots;
            }
        }
    }
    &__btn {
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));
        bottom: 20px;
        z-index: 10;
    }
}

@media only screen and (max-width: 370px) {
    .slider {
        &__content {
            padding: 40px 20px;
        }
    }
}

@media only screen and (max-width: 860px) and (orientation: landscape) {
    .slider {
        &__item {
            background-size: 450px;
            &_first {
                background-image: url(../img/slider/dude.jpg);
            }
            &_second {
                background-image: url(../img/slider/vendetta_dude.jpg);
            }
            &_third {
                background-image: url(../img/slider/robot.jpg);
            }
            &_fourth {
                background-image: url(../img/slider/pretending_to_work.jpg);
            }
        }
        &__content {
            padding: 40px 20px;
            br {
                display: none;
            }
        }
        &__title {
            margin-bottom: 12px;
        }
    }
}

@media only screen and (max-width: 640px) and (orientation: landscape) {
    .slider {
        &__item {
            background-size: 366px;
        }
    }
}

@media only screen and (max-width: 500px) and (orientation: landscape) {
    .slider {
        &__item {
            background-size: 320px;
        }
        &__content {
            padding: 20px;
        }
    }
}

@media only screen and (max-width: 350px) and (max-height: 520px) {
    .slider {
        &__item {
            background-size: 500px;
            &_first {
                background-image: url(../img/slider/dude.jpg);
            }
            &_second {
                background-image: url(../img/slider/vendetta_dude.jpg);
            }
            &_third {
                background-image: url(../img/slider/robot.jpg);
            }
            &_fourth {
                background-image: url(../img/slider/pretending_to_work.jpg);
            }
        }
        &__content {
            padding: 40px 20px;
            br {
                display: none;
            }
        }
        &__title {
            margin-bottom: 12px;
        }
    }
}
