.dashboard {
	.title {
		margin: 31px 0 27px;
	}
	&__card {
		padding: 14px 16px 20px;
		min-height: 105px;
	}
	&__header {
		position: relative;
		.arrow-down {
			position: absolute;
			top: 0;
			right: 0;
			@include transition(transform 0.4s);
			&.open {
				@include rotate(180deg);
			}
		}
	}
	&__date {
		margin-bottom: 13px;
		font-size: $small-fs;
		color: $text-gray;
	}
	&__info {
		display: flex;
		align-items: center;
		margin-top: 13px;
		> p {
			font-weight: 400;
			margin-left: auto;
			line-height: $base-line-height + 4px;
			white-space: nowrap;
		}
	}
	&__avatar {
		@include circle-img(30px, 30px);
		min-width: 30px;
		margin-right: 10px;
	}
	&__text {
		color: $text-color;
		font-size: $small-fs;
		letter-spacing: -0.3px;
		> a {
			display: block;
		}
		span {
			color: $text-gray;
			display: inline-block;
			&::before {
				content: "|";
				margin: 0 4px 0 2px;
			}
		}
		> small {
			font-size: $small-fs;
			color: $text-gray;
		}
	}
	&__body {
		display: none;
		margin-top: 13px;
		padding-left: 40px;
		font-size: $small-fs;
		line-height: $line-height-small;
		p {
			padding-bottom: 16px;
			&:last-of-type {
				padding-bottom: 0;
			}
			> b {
				font-weight: 400;
			}
		}
	}
	&__btn {
		position: relative;
		bottom: 10px;
	}
	.btn-violet {
		display: flex;
		margin: 0 auto 20px;
	}
	&__not {
		text-align: center;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 370px) {
	.dashboard {
		&__text {
			span {
				&::before {
					display: none;
				}
			}
		}
	}
}
