.cards-jobs {
	display: flex;
	align-items: center;
	padding: 28px 18px;
	&__avatar {
		@include circle-img(60px, 60px);
		margin-right: 10px;
		> img {
			width: 100%;
			height: 100%;
		}
		object-fit: cover;
	}
	&__detail {
		a {
			color: $text-color;
			font-size: $base-fs + 2px;
			line-height: $base-line-height + 2px;
			letter-spacing: -0.41px;
			margin-bottom: 3px;
		}
		span,
		.cards-jobs__company {
			font-size: $base-fs - 4px;
			line-height: $base-line-height - 2px;
			color: $text-gray;
			display: inline-block;
			min-width: 86px;
			letter-spacing: -0.07px;
		}
	}
	&__company {
		margin-top: 10px;
	}
	&.bg-violet-gradient {
		color: $white;
		box-shadow: none;
		padding: 36px;
		position: relative;
		font-size: $base-fs + 2px;
		line-height: $base-line-height + 2px;
		letter-spacing: -0.41px;
		.icon {
			position: absolute;
			background-color: $base-bg;
			@include radius(14px);
			min-width: 25px;
			color: $text-color;
			font-size: $base-fs - 5px;
			text-align: center;
			line-height: 15px;
			&_bottom {
				bottom: 6px;
				right: 6px;
				display: flex;
			}
			&_top {
				left: 6px;
				top: 6px;
			}
		}
	}
}

.cards-professionals {
	padding: 20px 16px;
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 28px;
	}
	&__avatar {
		min-width: 60px;
		margin-right: 15px;
		position: relative;
		.avatar {
			@include circle-img(60px, 60px);
		}
		&.checked {
			&::after {
				content: "";
				position: absolute;
				bottom: -7.8px;
				left: 50%;
				margin-left: -7.8px;
				width: 13.6px;
				height: 13.6px;
				background: url(../img/icons/checked.svg) no-repeat center
					center / 100% 100%;
			}
		}
	}
	&__info {
		width: 80%;
		a {
			color: $text-color;
			font-size: $base-fs + 2px;
			line-height: $base-line-height + 2px;
			letter-spacing: -0.41px;
			margin-bottom: 7px;
		}
		span {
			font-size: $base-fs - 4px;
			line-height: $base-line-height - 2px;
			color: $text-gray;
			display: inline-block;
			letter-spacing: -0.07px;
		}
	}
	&__desc {
		font-size: $base-fs - 2px;
		line-height: $base-line-height + 4px;
		letter-spacing: -0.41px;
		> li {
			border-top: 0.5px solid $border-light-gray;
			padding: 11.5px 0;
			span {
				color: $text-gray;
				font-size: $base-fs - 3px;
				line-height: $base-line-height - 4px;
			}
			.border-violet {
				margin-top: 7px;
			}
			p {
				color: $text-gray;
				font-size: $base-fs - 4px;
				line-height: $base-line-height - 4px;
				> span {
					margin-left: 10px;
					display: inline-block;
					height: 12.8px;
					vertical-align: middle;
				}
			}
		}
	}
	.btn {
		width: 290px;
		margin: 11px auto 0;
		display: flex;
	}
}

@media only screen and (max-width: 490px) {
	.cards-professionals {
		.btn {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 860px) and (orientation: landscape) {
	.cards-professionals {
		&__info {
			width: 90%;
		}
	}
}
