.footer {
	height: 60px;
	&__fixed {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;
		background-color: $base-bg;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		box-shadow: -4px 0px 8px rgba(86, 91, 123, 0.2);
	}
	&__body {
		padding: 18px 10px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-weight: 400;
		font-size: $small-fs;
		> a {
			display: flex;
		}
	}
}
