.sign-up,
.login {
    background: url(../img/bg-login.png) no-repeat top center/contain;
    width: 100%;
    height: 100vh;
    padding: 20px 28px;
    position: relative;
    &__title {
        margin-top: 127px;
    }
    &__title-top {
        position: absolute;
        top: 50px;
        left: 50%;
        @include transform(translateX(-50%));
        font-size: $font-size-h2;
        line-height: $line-height-h2;
        letter-spacing: 0.35px;
    }
    .logo {
        width: 55px;
        display: inline-block;
        margin: 36px 0;
    }
}

.form {
    width: 100%;
    &__group {
        width: 100%;
        margin-bottom: 10px;
        > input {
            width: 320px;
            height: 50px;
            background: $base-bg;
            border: 1px solid $border-color;
            @include radius(10px);
            box-shadow: none;
            font-size: $base-fs + 2px;
            line-height: normal;
            padding: 0 14px;
            &::placeholder {
                color: $text-color;
                letter-spacing: -0.41px;
            }
        }
    }
    p {
        > a {
            color: $color-link;
        }
    }
    &__btn {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        > small {
            font-size: $base-fs - 2px;
            line-height: 16px;
            color: $text-gray;
            margin-bottom: 10px;
            display: block;
        }
    }
}

@media only screen and (max-width: 370px) {
    .sign-up,
    .login {
        padding: 20px 15px;
        &__title {
            margin-top: 94px;
        }
        &__title-top {
            top: 40px;
        }
        .logo {
            margin: 20px 0;
        }
    }
    .form {
        &__group {
            > input {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-height: 490px) {
    .sign-up,
    .login {
        height: auto;
        &__title {
            margin-top: 100px;
            > br {
                display: none;
            }
        }
        &__title-top {
            top: 40px;
        }
        .logo {
            margin: 30px 0;
        }
    }

    .form {
        &__btn {
            position: static;
            left: 0;
            @include transform(translateX(0));
            margin-top: 60px;
        }
    }
}

@media only screen and (min-height: 800px) {
    .sign-up,
    .login {
        &__title {
            margin-top: 150px;
        }
        .logo {
            margin: 46px 0;
        }
    }
}
