.sign-up,
.login,
.password {
	background: url(../img/bg-logIn-singUp.svg) no-repeat top left/235px;
	width: 100%;
	max-width: 425px;
	min-height: 100vh;
	padding: 20px 28px;
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	&__title {
		margin-top: 40px;
	}
	.logo {
		display: flex;
		width: 55px;
		height: 55px;
		margin: 36px auto;
		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.sign-up {
	.logo {
		margin: 17px auto 58px;
	}
}
.login {
	.logo {
		margin: 17px auto 28px;
	}
}

.form {
	max-width: 320px;
	width: 100%;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	&__body {
		min-height: 170px;
		.btn-violet {
			margin-bottom: 10px;
		}
	}
	&__group {
		width: 100%;
		margin-bottom: 10px;
		> input {
			width: 320px;
			height: 50px;
			background: $base-bg;
			border: 1px solid $border-color;
			@include radius(10px);
			box-shadow: none;
			font-size: $base-fs;
			line-height: normal;
			padding: 0 14px;
			&::placeholder {
				color: $text-color;
				letter-spacing: -0.41px;
			}
		}
	}
	span {
		color: $text-gray;
		> a {
			text-decoration: underline;
		}
	}
	a {
		color: $text-gray;
	}
	&__btn {
		margin: 35px 0 0 !important;
		.btn {
			margin-top: 10px;
		}
	}
}

.btn-social {
	padding-left: 26px;
	position: relative;
	img {
		width: 25px;
		position: absolute;
		top: 50%;
		left: 61px;
		@include transform(translateY(-50%));
	}
	&_instagram {
		width: calc(320px + 4px);
		height: calc(40px + 4px);
		background: url(../img/icons/border-instagram.svg) no-repeat center center/contain;
		margin-left: -2px;
		margin-top: -2px;
	}
	&_linkedin {
		border: 1px solid #0077b7;
	}
	&_facebook {
		border: 1px solid #4267b2;
	}
}

@media only screen and (max-width: 370px) {
	.sign-up,
	.login,
	.password {
		padding: 20px 15px;
		&__title {
			margin-top: 54px;
		}
		.logo {
			margin: 20px auto;
		}
	}

	.form {
		min-height: 320px;
		&__group {
			> input {
				width: 100%;
			}
		}
	}

	.btn-social {
		height: 38px;
		&_instagram {
			width: calc(290px + 4px);
			height: 40px;
		}
	}
}

@media only screen and (max-height: 490px) {
	.sign-up,
	.login,
	.password {
		height: auto;
		&__title {
			margin-top: 80px;
			> br {
				display: none;
			}
		}
		.logo {
			margin: 28px auto;
		}
	}

	.form {
		height: auto;
		min-height: 100%;
	}
}

@media only screen and (min-height: 700px) {
	.sign-up,
	.login,
	.password {
		display: block;
		&__title {
			margin-top: 90px;
		}
		.logo {
			margin: 36px auto;
		}
	}

	.form {
		height: calc(100vh - 298px);
	}
}

@media only screen and (min-height: 800px) {
	.sign-up,
	.login,
	.password {
		&__title {
			margin-top: 140px;
		}
		.logo {
			margin: 46px auto;
		}
	}

	.form {
		height: calc(100vh - 370px);
	}
}
