body {
	margin: 0px;
	padding: 0px;
	font-family: $base-font-family;
	background-color: $base-bg;
	height: 100%;
	font-size: $base-fs;
	line-height: $base-line-height;
	font-weight: 400;
	letter-spacing: -0.24px;
	color: $text-color;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

.overflow-hidden {
	overflow: hidden;
	height: 100vh;
	width: 100%;
}

// background color
.bg-violet-gradient {
	background: linear-gradient(180deg, #58138e 0%, rgba(126, 32, 200, 0.39) 100%);
}

// flex property
.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

/* text position */
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.nowrap {
	white-space: nowrap !important;
}

.text-gray {
	color: $text-gray;
	font-size: $base-fs;
	line-height: $base-line-height;
	letter-spacing: -0.32px;
}

/* margin */
.mb-34 {
	margin-bottom: 34px;
}

/* loader */
.loaded main {
	visibility: hidden;
}
.load {
	background: $base-bg;
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	z-index: 100;
	&__content {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		width: 100%;
		@include transform(translateY(-50%));
		text-align: center;
		> p {
			margin-top: 35px;
			font-family: $base-font-family;
			font-size: $base-fs;
			color: $text-color;
		}
	}
}
.loaded .load {
	display: block;
}

// title section
.title {
	font-family: $base-font-family;
	font-size: $big-fs;
	line-height: $line-height-big;
	font-weight: 400;
	letter-spacing: 0.41px;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: $text-color;
	font-size: $base-fs;
	line-height: normal;
	font-weight: 400;
	font-style: normal;
	border: 1px solid transparent;
	background-color: transparent;
	touch-action: manipulation;
	white-space: nowrap;
	font-family: $base-font-family;
	@include radius(20px);
	cursor: pointer;
	height: 40px;
	width: 320px;
	@include transition(0.3s ease);
}

.btn-border {
	border-color: $border-color;
}

.btn-violet {
	color: $white;
	background-color: $violet;
	&:hover,
	&:active {
		background-color: $base-bg;
		color: $text-color;
		border: 1px solid $black;
	}
}

.btn-gray {
	background-color: $btn-gray;
}

.btn-white {
	width: 100%;
	height: 32px;
	background-color: $white;
	color: $violet;
	font-size: $large-fs;
	font-weight: 500;
}

.btn-pink {
	background-color: $pink;
	color: $white;
	font-weight: 700;
	font-size: $large-fs + 5px;
}

.filter-blur {
	filter: blur(4px);
}

.search {
	text-align: center;
	margin: 20px 0;
	padding: 0 28px;
}

.gray-input {
	width: 100%;
	height: 40px;
	background: $bg-light-gray;
	border: 1px solid transparent;
	@include radius(10px);
	box-shadow: none;
	font-size: $base-fs;
	line-height: normal;
	padding: 0 14px;
	color: $text-gray;
	&::placeholder {
		text-align: center;
		color: $text-gray;
		letter-spacing: -0.41px;
	}
}

.cards {
	background-color: $base-bg;
	box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
	@include radius(6px);
	margin: 0 14px 20px;
}

// tabs style
.tab-navigation {
	width: 100%;
	border-bottom: 1px solid $border-color-light;
	padding: 19px 32px 14px;
	display: flex;
	justify-content: space-between;
	&__item {
		cursor: pointer;
		color: $text-gray;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -16px;
			width: 50px;
			border-top: 2px solid transparent;
		}
		&_right {
			&::before {
				left: auto;
				right: 0;
			}
		}
		&.active {
			position: relative;
			color: $violet;
			&::before {
				border-color: $violet;
			}
		}
	}
}

.tab-content {
	width: 100%;
	&__item {
		display: none;
		&.open {
			display: block;
		}
	}
}
// list style
.list-type-circle {
	> li {
		padding-left: 20px;
		position: relative;
		&::before {
			content: "";
			width: 10px;
			height: 10px;
			border: 0.75px solid $violet;
			@include radius(50%);
			position: absolute;
			top: 50%;
			left: 0;
			@include transform(translateY(-50%));
		}
	}
}

.border-violet {
	padding: 13px 12px;
	border: 0.75px solid $violet;
	@include radius(15px);
}

@media only screen and (max-width: 370px) {
	.title {
		font-size: $big-fs - 4px;
		line-height: $line-height-big - 4px;
	}

	.btn {
		width: 290px;
	}
}

@media only screen and (max-height: 490px) {
	.load {
		&__content {
			> img {
				width: 160px;
			}
			> p {
				margin-top: 30px;
			}
		}
	}
}

@media only screen and (max-width: 570px) and (orientation: landscape) {
	.title {
		font-size: $big-fs - 4px;
		line-height: $line-height-big - 4px;
	}
}

@media only screen and (min-width: 500px) {
	.application {
		min-height: 100vh;
		padding: 1px;
		margin: 0;
		background: url("../img/mockup-phone-bg.png") no-repeat center center/cover;
		&__wrap {
			position: relative;
			height: 800px;
			width: 436px;
			display: block;
			margin: 40px auto;
			padding: 0;
			background: url("../img/MockupPhone.png") no-repeat center center;
			background-size: contain;
		}
		.main {
			height: 684px;
			width: 372px;
			display: block;
			margin: 0 auto;
			position: absolute;
			top: 58px;
			left: 32px;
			border: 0px;
			overflow: auto;
			overflow-y: auto;
			background-color: $base-bg;
		}
		.slider,
		.slick-list,
		.slick-track,
		.slider__item {
			height: 100%;
		}
		.sign-up,
		.login,
		.password {
			height: 100%;
			min-height: inherit;
			display: flex;
		}
		.sign-up {
			.logo {
				margin: 17px auto 58px;
			}
			.form {
				height: 396px;
			}
		}
		.login {
			.logo {
				margin: 17px auto 28px;
			}
			.form {
				height: 430px;
			}
		}
		.password {
			.form {
				height: 350px;
			}
		}
		.sign-up__title,
		.login__title,
		.password__title {
			margin-top: 40px;
		}
		.wizard {
			height: inherit;
			min-height: inherit;
		}
		.validation {
			height: inherit;
			&__step {
				height: inherit;
			}
		}
		.referral {
			height: inherit;
		}

		.location-page {
			height: inherit;
			min-height: inherit;
			&__body {
				min-height: inherit;
			}
		}
		.footer {
			position: sticky;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 10;
			&__fixed {
				position: static;
			}
		}
		.meetup {
			min-height: 576px;
		}
		.notifications {
			min-height: 556px;
		}
		.personal-details,
		.dashboard {
			min-height: 546px;
		}
	}
}

@media only screen and (min-width: 500px) and (max-height: 500px) {
	.application {
		.form {
			min-height: 350px;
		}
	}
}
