.location-page {
	padding: 9px 14px;
	min-height: 100vh;
	text-align: center;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	&__body {
		width: 100%;
		min-height: calc(100vh - 137px);
		padding: 0 13.5px;
		background: #ffffff;
		box-shadow: -2px 2px 10px rgba($color: $black, $alpha: 0.2);
		@include radius(10px);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		p {
			margin: 52px 0 20px;
			font-size: $large-fs;
			line-height: $line-height-large + 2px;
		}
		img {
			margin-bottom: 31px;
		}
		.btn {
			width: 100%;
			max-width: 320px;
			display: flex;
			margin: 0 auto;
		}
		.btn-border {
			margin: 10px auto 20px;
		}
	}
	&__header,
	&__footer {
		width: 100%;
	}
	&__number {
		width: 100%;
		max-width: 320px;
		height: 40px;
		background: $bg-light-gray;
		@include radius(10px);
		display: flex;
		margin: 0 auto 120px;
	}
	&__input {
		width: 100%;
		height: inherit;
		background: transparent;
		border: none;
		@include radius(10px);
		box-shadow: none;
		font-size: $base-fs;
		line-height: normal;
		padding: 0 20px;
		color: $text-color;
		text-align: left;
		&::placeholder {
			color: $text-gray;
			letter-spacing: -0.24px;
		}
	}
}

/* style select */
.jq-selectbox {
	min-width: 99px;
	height: inherit;
	&__select {
		display: flex;
		align-items: center;
		width: 100%;
		height: inherit;
		padding: 0 22px 0 10px;
		background: $violet;
		font-family: $base-font-family;
		font-size: $base-fs;
		color: $text-white;
		font-weight: 400;
		@include radius(10px);
	}
	&__select-text {
		width: 100% !important;
	}
	&__trigger {
		position: absolute;
		top: 0;
		right: 0;
		width: 22px;
		height: 100%;
	}
	&__trigger-arrow {
		position: absolute;
		top: 50%;
		left: 0;
		@include transform(translateY(-50%));
		&::before {
			content: url(../img/icons/arrow-down-white.svg);
		}
	}
	&__dropdown {
		width: 100%;
		background: $bg-light-gray;
		font-family: $base-font-family;
		font-size: $base-fs;
		color: $text-color;
		text-align: left;
		@include radius(10px);
		padding-top: 20px;
		margin-top: -10px;
		z-index: -1;
		ul {
			max-height: 152px;
		}
	}
	li {
		padding: 0 10px;
		margin-bottom: 20px;
		&:last-of-type {
			margin-bottom: 10px;
		}
	}
}

@media only screen and (max-height: 570px) {
	.location-page {
		padding: 20px 14px 9px;
		&__body {
			min-height: calc(100vh - 30px);
		}
	}
}
