@media only screen and (max-width: 370px) {
}

@media only screen and (max-height: 490px) {
}

@media only screen and (min-height: 800px) {
}

@media only screen and (max-width: 860px) and (orientation: landscape) {
}

@media only screen and (max-width: 570px) and (orientation: landscape) {
}
