.notifications {
	margin-top: 20px;
	&__card {
		padding: 14px 17px 22px;
		font-size: $small-fs;
		line-height: $line-height-small;
		&.meetup-accepted {
			.notifications__arrow img {
				display: none;
			}
			.notifications__body {
				display: block;
			}
		}
	}
	&__arrow {
		font-size: $small-fs;
		line-height: $line-height-small;
		letter-spacing: -0.08px;
		color: $text-gray;
		margin-bottom: 13px;
		> img {
			cursor: pointer;
			&.rotate {
				@include rotate(180deg);
			}
		}
	}
	&__header {
		line-height: $base-line-height - 2px;
		span {
			display: block;
			font-size: $small-fs;
			color: $text-gray;
		}
		.avatar {
			flex: 0 0 60px;
			@include circle-img(60px, 60px);
			margin-right: 10px;
			> img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__info {
		margin-top: 6px;
	}
	&__body {
		display: none;
		margin-top: 16px;
	}
	&__btn {
		display: flex;
		justify-content: flex-end;
		margin: 13px auto 0;
		width: 150px;
		height: 25px;
		font-size: $small-fs;
		padding: 0 2.5px;
		.icon-phone {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			background-color: $base-bg;
			@include radius(50%);
			margin-left: 13px;
			> img {
				width: 10px;
			}
		}
	}
}
