.settings {
	width: 100%;
	&__list {
		width: 100%;
		margin: 12px 0 80px;
		> li {
			border-top: 1px solid $border-color-light;
			&:last-of-type {
				border-bottom: 1px solid $border-color-light;
			}
			padding: 20px 26px;
			> span {
				display: block;
				color: $text-gray;
				margin-bottom: 10px;
			}
			> a {
				display: block;
				color: $text-color;
				margin-bottom: 10px;
				&:last-of-type {
					margin-bottom: 0;
				}
				&.open-pop-up {
					color: $violet;
				}
			}
		}
	}
	.version {
		font-size: $base-fs - 7px;
		letter-spacing: -0.3px;
		color: $text-gray;
		display: block;
		margin: -2px 0 25px;
	}
	.logo-bottom {
		display: flex;
		justify-content: center;
	}
}
.log-out {
	padding: 31px 14px 20px;
	p {
		padding: 0;
	}
	.line {
		border-top: 1px solid $border-light-gray;
		margin: 30px 0 10px;
	}
}
